@import 'root';

html
{
    scroll-behavior: smooth;
    scroll-timeline: 5;
}

body
{

    margin: 0;
    padding: 0;
    background-color: darken($theme-color, 2);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    z-index: -2;
    overflow-x: hidden;

    main
    {
        height: 75vh;
        width: 100vw;
        box-sizing: border-box;
        padding-top: 6%;
        padding-bottom: 2%;

        .grid-2
        {
            width: 80%;
            height: 90%;

            .gr
            {
                width: 90%;
                p
                {
                    margin-top: -5px;
                    opacity: 0.5;
                    font-size: 15px;
                    line-height: 20px;
                }
                a
                {
                    background-color: darken($theme-color, 2);
                    border: 1px solid $primary-color;
                   
                    i   
                    {
                        margin-right: 5px;
                    }

                    &:hover
                    {
                        transition: all 1s ease-out;
                        @extend .btn-primary;
                    }
                }

            }

            img
            {
                width: 95%;
                animation: fade 1s forwards ease-in;
            }
        }
    }

        .features
        {
            height: 70vh;
            width: 100vw;
            padding-bottom: 20px;
            @extend .flex-column;
            background-color: darken($theme-color, 2);  
            overflow: hidden;

            .wrapper
            {
                height: 90%;
                width: 80%;

                .gr
                {
                    align-items: flex-start;

                    h2
                    {
                        text-transform: capitalize;
                        margin-bottom: 10px;
                    }

                    p
                    {
                        opacity: 0.65;
                        font-size: 14px;
                        line-height: 1.6rem;
                        margin-bottom: 15px;
                    }

                    a
                    {
                        i
                        {
                            font-size: 17px;
                            margin-right: 10px;
                            color: $theme-color;
                        }    
                    }

                    img
                    {
                        display: none;
                    }
                }
            }

        }

        .supplier
        {
            height: 70vh;
            width: 100%;
            background-color: darken($theme-color,2);

  
            background-repeat: no-repeat;
            background-size: cover;

            .container
            {
                position: relative;
                top: 5%;
                width: 90%;
                height: 90%;
                backdrop-filter: blur(8px);
                border-radius: 50px;
                z-index: 2;
                box-sizing: border-box;
                padding: 10px;

                .grid-item{
                    img
                    {
                        border-radius: 10px;
                        margin-left: 5%;
                        width: 90%;
                    }
                }

                .grid-item:nth-child(2)
                {
                    width: 90%;
                    box-sizing: border-box;
                    padding-top: 9%;

                    h1{
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                    p{
                        font-size: 14px;
                        line-height: 1.6rem;
                        opacity: 0.7;

                    }
                    a
                    {

                        i
                        {
                            font-size: 17px;
                            margin-right: 10px;
                            color: $theme-color;

                        }
                    }
                }
             
            }

        }

        .about{

            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 80vh;
            background-color: darken($theme-color, 2);

            .container
            {
                width: 80%;
                height: 90%;
                box-sizing: border-box;
                padding: 10px;
                @extend .grid-2;
                grid-gap: 10px;

                .grid-item
                {

                    align-items: flex-start;
                    justify-content: flex-start;
                    h1{
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                    p
                    {
                        font-size: 14px;
                        line-height: 1.6rem;
                        opacity: 0.7;
                    }
                    img
                    {
                        display: none;
                    }

                    a
                    {
                        i
                        {
                            font-size: 17px;
                            margin-right: 10px;
                            color: $theme-color;
 
                        }
                    }
                }

                .grid-item:nth-child(2)
                {
                    position: relative;
                    left: 30%;
                    // top: -12%;
                    align-items: flex-start;
                    justify-content: flex-start;
                    
                    h2
                    {
                        position: relative;
                        // left: -6%;
                        font-weight: 400;
                        text-transform: capitalize;
                        
                    }

                    
                        p
                        {
                            // display: inline-flex;
                            font-size: 12px;
                            font-weight: 500;
                            opacity: 1;
                            letter-spacing: 0.5px;
                            // line-height: 1rem;

                           i{
                                justify-content: center;
                                text-align: center;
                                margin-right: 25px;
                                padding: 10px;
                                height: 10px;
                                width: 15px;
                                background-color: lighten($primary-color,5);
                                border-radius: 10px;
                                color: lighten($theme-color, 10);
                           } 

                        }
                    

                }
        }    
        }

    
        .contact
        {
            height: 92vh;
            background-color: darken($theme-color, 1);
            width: 100%;

            .form-container
            {
                width: 80%;
                height: 80%;
                @extend .flex-column;

                form
                {
                    width: 80%;

                    input, textarea
                    {
                        border: none;

                        background-color: transparent;

                        background-color: darken($theme-color, 3);
                        border-radius: 10px;
                        height: 25px;
                        padding: 10px;
                        width: 70%;
                        outline: 0;
                        margin-bottom: 15px;

                        &::placeholder
                        {
                            opacity: 0.5;
                            color: darken($primary-color, 10);
                            font-size: 11px;
                        }
                    }
                    textarea
                    {
                        height: 100px;
                        resize: none;
                    }

                    button
                    {
                        width: 72%;
                        cursor: pointer;
                    }
                    
                }
            }

        }

   
    }


    @media screen and (min-width: 769px)  and (max-width: 980px)
    {
        .features
        {
            height: max-content;
            width: 100vw;
            padding-bottom: 5%;
        }
    }




@media screen and (max-width: 768px)
{
    body 
    {
        overflow-x: hidden;

        

        main
        {
            width: 100vw;
            overflow-x: hidden;
            height: max-content;
            justify-content: center;
            align-items: center;
            padding-bottom: 50px;
            
            .wrapper
            {
                width: 95%;
                grid-template-columns: repeat(1,1fr);

                img
                {
                    width: 95%;
                }
                
                .x-start
                {
                    width: 95%;
                    align-items: center;
                    h1
                    {
                        font-size: 20px;
                        text-align: center;
                    }
                    p
                    {
                        text-align: center;
                    }
                }
            }
        }

        .features 
        {
            height: max-content;
            box-sizing: border-box;
            padding: 10% 5%;
            overflow-x: hidden;

            .wrapper
            {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                height: max-content;
                width: 90%;
                height: 100%;

                .gr
                {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 10px;
                    h2
                    {
                        font-size: 5.5vw;
                    }

                    p
                    {
                        font-size: 3.5vw;
                    }
                    img
                    {
                        display: block;
                        width: 100%;
                    }
                }

                img
                {
                    // width: 100%;
                    display: none;
                }
            }
        }

        .supplier 
        {
            height: max-content;
            padding: 20px 0;

            .container
            {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                width: 90%;

                .grid-item:nth-child(1)
                {
                    img
                    {
                        width: 100%;
                        height: 90%;
                    }
                }

                .grid-item:nth-child(2)
                {
                    width: 95%;
                    margin-left: 2%;

                    h2
                    {
                        font-size: 6vw;
                    }
                    p
                    {
                        font-size: 3.5vw;
                    }
                }
            }
    }

    .about
    {
        height: max-content;
        padding: 30px 0;
        overflow-x: hidden;

        .container
        {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 90%;

            .grid-item:nth-child(1)
            {
                width: 95%;
                margin-left: 5%;

                h2
                {
                    font-size: 4.5vw;
                }
                p
                {
                    font-size: 3.5vw;
                }
                img
                {
                    display: block;
                    width: 90%;
                }
            }

            .grid-item:nth-child(2)
            {
                position: relative;
                left: 5%;
                top: 5%;

                h2
                {
                    font-size: 5.5vw;
                }

                p
                {
                    font-size: 3vw;
                }
                img
                {
                    display: block;
                    width: 90%;
                    margin-left: -2%;
                }
                

            }
        }
    }

    .contact
    {
        height: max-content;
        box-sizing: border-box;
        padding: 3%;
        background-image: none;
        width: 99vw;
        overflow-x: hidden;

        .form-container
        {
            width: 95%;

            form
            {
                input, textarea
                {
                    width: 100%;
                }

                button
                {
                    width: 100%;
                }
            }
        }
    }

    }

}

